.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    background-color: #FFB627;
    margin: auto;
    margin-top: 50px;

}

@font-face {
    font-family: digital-7;
    src: url(./fonts/digital-7.ttf);
}


button{
    font-family: digital-7;
}

.header{
    font-weight: 400;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2711D;
    color: #f0e6ef;
    padding: 20px;

}

html {
    font-family: digital-7;
    background-color: #FFC971;
}


.bottom {
    display: flex;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    margin-left: 30px;
    gap: 5px;
    
}

.zero.number {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 225px;
    height: 50px;
    border: 2px;
    border-style: solid;
    margin: 3px;
    border-radius: 10px;

}

.operators{
    width: 200px;
    display: flex;
    flex-wrap: wrap;    
    gap: 10px   ;
}

.operator{
    border: 2px solid black;
    font-weight: 400;
    font-size: 18pt;
    display: flex;
    width: 70px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #CC5803;
    border-color: black;
    border-radius: 5px;    
}
.number {
    font-weight: 400;
    font-size: 15pt;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    width: 70px;
    height: 80px;
    background-color: #CC5803;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-radius: 5px;
}

.display {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    background-color: #E2711D;
    color: #B8BEDD;
    align-self: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.displayedNumber {
    font-size: 18pt;
    color: black;

}

.displayedOperator {
    color: black;
    font-size: 18pt;
}

.footer {
    font-weight: 400;
    font-size: 16pt;
    background-color: #E2711D;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0e6ef;

}